.wipWarning {
  color: red;
}

.weekForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empForm {
  margin-top: 16px;
}

.hoursSummary {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-color);

  border: none;
}

.hoursSummary div,
.hoursSummary div strong {
  color: white;
}

.dayTable {
  width: 100%;
}

.dayTable tr td {
  padding: 5px;
}

.dayTable tr:nth-child(even) {
  background-color: #ebebeb;
}

.nameTd {
  font-weight: bold;
}

.shiftTimeTd {
  text-align: right;
}

.noShiftDay {
  background-color: #ebebeb;
}

span.isbBadge {
  background-color: #e09f63 !important;
}

span.poBadge {
  background-color: #e40046 !important;
}

span.tlBadge {
  background-color: #464d6e !important;
}

span.smBadge {
  background-color: #1e44ec !important;
}
